body{
    font-size: 20px;
    background-image: url('../img/atb/sfondo.png');
    background-size:cover ;
}
.bg-primary {
    background-color: #ddd548 !important;
}












.scritta-atb{
    position: absolute;
    top: 5vh;
    max-height: 70%;
    right: 0;
}

.fiore-atb{
    position: absolute; bottom:0;max-height: 95%
}

.main , .section-images{
    background: initial;
    padding-top: 100px;
}





/*header height responsive*/
.page-header {
    max-height: initial !important;
}
.index-page .page-header {
    min-height: 125vh ;
    height: 100% ;
}

@media (max-width:720px) {
    .index-page .page-header {
        min-height: 100vh;
        height: 100%;
    }
}


/*navbar font size*/
.navbar .navbar-nav .nav-link:not(.btn) {
    font-size: 0.8142em;
}



.section-title{
    margin-bottom: 100px;
    margin-top: 50px;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*Beer*/
.margin-left-row{
    margin-left: 15px;
}

.logo-birrifici img{
    width: 90%;
}

.logo-birrifici{
    margin-bottom: 50px;
}

h1, h2, h3,h4,h5{
    color: #FFFFFF;
}















.sponsor-img1{
    margin-bottom: 15px;
}

.sponsor-img{
    margin-bottom: 50px;
    width: 100%;
    background-color: white;
}





















.bollino-day {
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    padding: 0;
    color: #2C2F2B;
    font-weight: 900;
    font-size: 5.5em;
    border-radius: 50%;
    background-color: white;
    font-family: LineUp;
}


@font-face {
    font-family: LineUp;
    src: url(ShadyLane.ttf);
    font-weight:600;
}


.lineup-name{
    text-align: center;
    font-family: LineUp;
    color:white;
}




.first-lineup-name{
    font-size: 3.2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.second-lineup-name{
    font-size: 2.5em;
    margin-bottom: 1em;
}

.third-lineup-name{
    font-size: 2em;
    margin-bottom: 1em;
}

.forth-lineup-name{
    font-size: 1.8em;
    margin-bottom: 1em;
}








/*header position in landing*/
.page-header-image-landing{
    background-position: top center !important;
    z-index: 0 !important;
}

.title{
    color:#2c2c2c;
}